.olyauth{
  &__role{
    &Selector{
      &Inner{
        background: #f9f9f9;

        ul{
          margin: 0;
          padding: 0;
          // border-top: 1px solid #dedddf;
        }

        > p{
          margin: 0;
          padding-left: 9px;
          font-weight: 700;
          font-size: 14px;
          line-height: 2.5;
          color: #aab0bc;
        }
      }
    }
  }
}
